<div class="ml-lg text-white">
  <p class="mt-xxl title-lg mb text-bold text-center helvetica">Добро пожаловать на сайт для искателей приключений!</p>

  <div class="verdana text-bold mt-xxl">
    <p class="title mt-xxl mb">ОТБРОСЬ СЕРЫЕ БУДНИ </p>
    <p class="title-xxl mt mb">ПУТЕШЕСТВУЙ!</p>
  </div>

  <div class="helvetica">
  <p class="title-sm mb-xxl ">Ищете вдохновение для следующего отпуска? Мой сайт идеально для этого подходит.<br> Каждый найдет для себя персональное предложение,<br> основанное на ваших собственных предпочтениях.
  </p>
  </div>
  <div class="helvetica text-bold title-sm mt-lg">
    <p class="title mb ">Начни свое путешествие прямо сейчас!</p>
    <div class="flex">
      <p><%= link_to 'Посмотреть все направления', url_for(controller: 'travels', action: 'index'), class: 'button button-main mr' %>ИЛИ </p>
      <p><%= link_to 'Выбрать подходящее', url_for(controller: 'travels', action: 'filter'), class: 'button button-main ml mb-xxl' %></p>
    </div>
  </div>
</div>