.form-text-area, .form-text-field {
    border: 1px solid gray;
    padding: 7px 10px;
}
.form-text-area:focus, .form-text-field:focus{
    background-color: #E5CCFF;
    outline-width: 0;
}
.form-text-area {
    box-sizing: border-box;
    width: 100%;
}

.travel-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E5CCFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для разделов */
.travel-section {
    margin-bottom: 20px;
}

/* Стили для заголовков разделов */
.section-title {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

/* Стили для группы чекбоксов */
.checkbox-group {
    margin-left: 20px;
}

/* Стили для меток чекбоксов */
.checkbox-label {
    display: block;
    margin-bottom: 5px;
}

/* Стили для чекбоксов */
.checkbox-input {
    margin-right: 5px;
}
.todo-list {
    list-style-type: disc; /* Или другой тип маркера по вашему выбору */
    padding-left: 20px; /* Отступ слева для маркеров */
}

.todo-list li {
    margin-bottom: 10px; /* Отступ между пунктами списка */
}
