.img {
    width: 75vw;   /* ширина зависит от размера окна просмотра */
    height: 40vw;  /* высота также корректируется в зависимости от размера окна просмотра */
    object-fit: cover; /* сохраняет пропорции изображения */
}