/*.img {
  max-width: 100%; // Чтобы изображение не выходило за пределы своего контейнера
  height: auto; // Сохраняет пропорции изображения при изменении ширины
  display: block; // Обеспечивает правильное отображение внутри контейнера
  margin: 0 auto; // Выравнивает изображение по центру внутри контейнера
}*/

.img-container {
  max-width: 100%; // Максимальная ширина контейнера
  margin: 0 auto; // Центрирование контейнера по горизонтали
  padding: 20px; // Внутренний отступ для контейнера
  box-sizing: border-box; // Учитываем padding внутри ширины контейнера
  text-align: center; // Выравнивание содержимого по центру
}

.img-container img {
  max-width: 100%; // Сделать изображение адаптивным по ширине контейнера
  height: auto; // Сохранить пропорции изображения
  display: block; // Отображать изображение как блочный элемент
  margin: 0 auto; // Центрирование изображения по горизонтали внутри контейнера
}