body {
    background-image: url(images/hero-bg.jpg);
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1211px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 8px;
}

.wrapper-y {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1211px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
    border-radius: 10px;
    background: #E5CCFF;
    /*background: #8739F9;*/
    padding: 20px;
    width : 500px;
    max-width: 100%;
    height: auto;
    max-height: 100%;

}
.container-desc{
    font-size: 1em;
    border-radius: 10px;
    background: #E5CCFF;
    padding: 20px;
    width : auto;
    max-width: 870px;
    height: auto;
    max-height: 100%;
}
.container a{
    text-decoration: none;
    color: darkslateblue;
}

.container-review {
    border-radius: 10px;
    background: #E5CCFF;
    padding: 20px;
    width : 100%;
    max-width: 600px;
    height: 100%;
    max-height: 400px;
}
.flex{
    display:flex;
    justify-content: left;
}