.message{
    border: 1px solid gray;
    padding: 10px 15px;
}
.message-notice{
    background-color: #E5CCFF;
    color: black;
    border-color: green;
}
.message-alert {
    background-color: #E5CCFF;
    border-color: red;
}