/* navbar.css */

/* Общие стили для навигационной панели */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333; /* Темно-серый фон */
    color: #fff; /* Белый цвет текста */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень под навигацией */
}

/* Стили для ссылок внутри навигационной панели */
.navbar a {
    color: #fff;
    text-decoration: none; /* Убираем подчеркивание ссылок */
    margin-left: 1rem; /* Отступ слева от ссылок */
}

/* Активная ссылка */
.navbar a.active {
    color: #ff6347; /* Оранжевый цвет активной ссылки */
}

.navbar-title {
    display: flex;
    justify-content: center;
    background-color: #333; /* Темно-серый фон */

}
.navbar-title a{
    color: #fff; /* Белый цвет текста */
    font-family: "Palatino Linotype", sans-serif;
    text-decoration: none;
    font-size: 200%;
}